table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  margin: 50px;
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}